/* Header css */

.container {
  max-width: 960px;
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 1fr;
}

.headerFont {
  font-size: 20px;
}

.boardName {
  font-size: 25px;
  margin-top: 15px;
}

.buttonTask {
  background-color: black; /* Green */
  border: none;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  border-radius: 12px;
  font-size: 16px;
}

/* AllBoards CSS */

.boardFlex {
}

/* Board css */

body {
  background-color: gray;
}

/* Column CSS */

.containerColumn {
  display: flex;
  flex-direction: column;

  margin: 20px;
  padding: 20px;
}

.containerMultiple {
  display: flex;
  flex-direction: row;
}

/* todo styles */
.todo {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

/* TodoForm CSS */

.add-form {
  margin-bottom: 40px;
}

.form-control {
  margin: 20px 0;
}
